In [4]:
import pandas as pd
import pyodbc #for ms SQL

In [4]:
!pip install mysql.connector

Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
                                              0.0/11.9 MB ? eta -:--:--
                                              0.1/11.9 MB 3.2 MB/s eta 0:00:04
                                              0.2/11.9 MB 3.0 MB/s eta 0:00:04
     -                                        0.3/11.9 MB 2.5 MB/s eta 0:00:05
     -                                        0.5/11.9 MB 2.9 MB/s eta 0:00:04
     --                                       0.6/11.9 MB 2.8 MB/s eta 0:00:05
     --                                       0.8/11.9 MB 2.9 MB/s eta 0:00:04
     ---                                      0.9/11.9 MB 2.9 MB/s eta 0:00:04
     ---                                      1.1/11.9 MB 3.0 MB/s eta 0:00:04
     ----                                     1.2/11.9 MB 3.0 MB/s eta 0:00:04
     ----                                     1.4/11.9 MB 3.0 MB/s eta 0:00:04
     -----                                    1.5/11.9 MB 3.0 MB/s eta 0:00:04
     -----                                    1.7/11.9 MB 3.1 MB/s eta 0:00:04
     ------                                   1.8/11.9 MB 3.1 MB/s eta 0:00:04
     ------                                   2.0/11.9 MB 3.1 MB/s eta 0:00:04
     -------                                  2.1/11.9 MB 3.1 MB/s eta 0:00:04
     -------                                  2.2/11.9 MB 3.0 MB/s eta 0:00:04
     -------                                  2.4/11.9 MB 3.0 MB/s eta 0:00:04
     --------                                 2.5/11.9 MB 3.0 MB/s eta 0:00:04
     --------                                 2.7/11.9 MB 3.0 MB/s eta 0:00:04
     ---------                                2.8/11.9 MB 3.0 MB/s eta 0:00:03
     ----------                               3.0/11.9 MB 3.0 MB/s eta 0:00:03
     ----------                               3.1/11.9 MB 3.0 MB/s eta 0:00:03
     ----------                               3.2/11.9 MB 2.9 MB/s eta 0:00:03
     -----------                              3.5/11.9 MB 2.9 MB/s eta 0:00:03
     ------------                             3.6/11.9 MB 3.0 MB/s eta 0:00:03
     ------------                             3.8/11.9 MB 3.0 MB/s eta 0:00:03
     -------------                            4.0/11.9 MB 3.0 MB/s eta 0:00:03
     -------------                            4.1/11.9 MB 3.0 MB/s eta 0:00:03
     --------------                           4.3/11.9 MB 3.1 MB/s eta 0:00:03
     ---------------                          4.5/11.9 MB 3.1 MB/s eta 0:00:03
     ---------------                          4.6/11.9 MB 3.1 MB/s eta 0:00:03
     ----------------                         4.8/11.9 MB 3.1 MB/s eta 0:00:03
     ----------------                         5.0/11.9 MB 3.1 MB/s eta 0:00:03
     -----------------                        5.1/11.9 MB 3.1 MB/s eta 0:00:03
     -----------------                        5.3/11.9 MB 3.1 MB/s eta 0:00:03
     ------------------                       5.5/11.9 MB 3.2 MB/s eta 0:00:03
     ------------------                       5.6/11.9 MB 3.1 MB/s eta 0:00:03
     -------------------                      5.7/11.9 MB 3.1 MB/s eta 0:00:02
     -------------------                      5.9/11.9 MB 3.1 MB/s eta 0:00:02
     --------------------                     6.0/11.9 MB 3.1 MB/s eta 0:00:02
     --------------------                     6.2/11.9 MB 3.1 MB/s eta 0:00:02
     ---------------------                    6.3/11.9 MB 3.1 MB/s eta 0:00:02
     ----------------------                   6.5/11.9 MB 3.2 MB/s eta 0:00:02
     ----------------------                   6.7/11.9 MB 3.2 MB/s eta 0:00:02
     -----------------------                  6.9/11.9 MB 3.2 MB/s eta 0:00:02
     -----------------------                  7.0/11.9 MB 3.2 MB/s eta 0:00:02
     ------------------------                 7.2/11.9 MB 3.2 MB/s eta 0:00:02
     ------------------------                 7.4/11.9 MB 3.2 MB/s eta 0:00:02
     -------------------------                7.4/11.9 MB 3.2 MB/s eta 0:00:02
     -------------------------                7.5/11.9 MB 3.2 MB/s eta 0:00:02
     --------------------------               7.7/11.9 MB 3.2 MB/s eta 0:00:02
     --------------------------               7.9/11.9 MB 3.2 MB/s eta 0:00:02
     ---------------------------              8.1/11.9 MB 3.2 MB/s eta 0:00:02
     ---------------------------              8.3/11.9 MB 3.2 MB/s eta 0:00:02
     ----------------------------             8.4/11.9 MB 3.2 MB/s eta 0:00:02
     ----------------------------             8.5/11.9 MB 3.2 MB/s eta 0:00:02
     -----------------------------            8.7/11.9 MB 3.2 MB/s eta 0:00:01
     -----------------------------            8.8/11.9 MB 3.2 MB/s eta 0:00:01
     ------------------------------           9.0/11.9 MB 3.2 MB/s eta 0:00:01
     ------------------------------           9.2/11.9 MB 3.2 MB/s eta 0:00:01
     -------------------------------          9.3/11.9 MB 3.2 MB/s eta 0:00:01
     -------------------------------          9.4/11.9 MB 3.2 MB/s eta 0:00:01
     --------------------------------         9.6/11.9 MB 3.2 MB/s eta 0:00:01
     ---------------------------------        9.8/11.9 MB 3.2 MB/s eta 0:00:01
     ---------------------------------        10.0/11.9 MB 3.2 MB/s eta 0:00:01
     ----------------------------------       10.2/11.9 MB 3.3 MB/s eta 0:00:01
     -----------------------------------      10.4/11.9 MB 3.3 MB/s eta 0:00:01
     -----------------------------------      10.6/11.9 MB 3.3 MB/s eta 0:00:01
     ------------------------------------     10.8/11.9 MB 3.3 MB/s eta 0:00:01
     ------------------------------------     10.9/11.9 MB 3.3 MB/s eta 0:00:01
     -------------------------------------    11.1/11.9 MB 3.3 MB/s eta 0:00:01
     --------------------------------------   11.3/11.9 MB 3.3 MB/s eta 0:00:01
     --------------------------------------   11.5/11.9 MB 3.3 MB/s eta 0:00:01
     ---------------------------------------  11.7/11.9 MB 3.4 MB/s eta 0:00:01
     ---------------------------------------  11.8/11.9 MB 3.4 MB/s eta 0:00:01
     ---------------------------------------  11.8/11.9 MB 3.4 MB/s eta 0:00:01
     ---------------------------------------  11.8/11.9 MB 3.4 MB/s eta 0:00:01
     ---------------------------------------  11.8/11.9 MB 3.4 MB/s eta 0:00:01
     ---------------------------------------- 11.9/11.9 MB 3.2 MB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (pyproject.toml): started
  Building wheel for mysql.connector (pyproject.toml): finished with status 'done'
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp311-cp311-win_amd64.whl size=247958 sha256=626ddcabdd4dc8e75b30a9715ba2f57daae7f2dd0506bef62ed59d1b384ddbb6
  Stored in directory: c:\users\admin\appdata\local\pip\cache\wheels\17\cd\ed\2d49e9bac69cf09382e4c7cc20a2511202b48324b87db26019
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9

In [5]:
# import mysql.connector as mc #for mysql

In [7]:
conn = pyodbc.connect('Driver={SQL Server Native Client 11.0};'
                    'Server=DESKTOP-J0G5LG8;'
                    'Database=InfoData;'
                    'Trusted_Connection=yes;'
                        )
show = conn.cursor()

In [10]:
df = pd.read_sql_query('select * from BookList',conn) #can write query as per requirement
df

C:\Users\Admin\AppData\Local\Temp\ipykernel_5896\705656723.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query('select * from BookList',conn)

    ID         Title       Message     City
0    1   Harry pottr  Amazing Book     pune
1    2           ABC      Good one  nhavare
2    3   lawOfSucess     Inspiring     pune
3    3   lawOfSucess     Inspiring     pune
4    4  IndianPolity     Marvolous    Delhi
5    5      Spectrum   understable  Solapur
6    6   Environment          Easy   Mumbai
7    3   lawOfSucess     Inspiring     pune
8    4  IndianPolity     Marvolous    Delhi
9    5      Spectrum   understable  Solapur
10   6   Environment          Easy   Mumbai
11   3   lawOfSucess     Inspiring     pune
12   4  IndianPolity     Marvolous    Delhi
13   5      Spectrum   understable  Solapur
14   6   Environment          Easy   Mumbai
15   3   lawOfSucess     Inspiring     pune
16   4  IndianPolity     Marvolous    Delhi
17   5      Spectrum   understable  Solapur
18   6   Environment          Easy   Mumbai
19   3   lawOfSucess     Inspiring     pune
20   4  IndianPolity     Marvolous    Delhi
21   5      Spectrum   understable  Solapur
22   6   Environment          Easy   Mumbai
23   3   lawOfSucess     Inspiring     pune
24   4  IndianPolity     Marvolous    Delhi
25   5      Spectrum   understable  Solapur
26   6   Environment          Easy   Mumbai
27   3   lawOfSucess     Inspiring     pune
28   4  IndianPolity     Marvolous    Delhi
29   5      Spectrum   understable  Solapur
30   6   Environment          Easy   Mumbai
31   3   lawOfSucess     Inspiring     pune
32   4  IndianPolity     Marvolous    Delhi
33   5      Spectrum   understable  Solapur
34   6   Environment          Easy   Mumbai
35   3   lawOfSucess     Inspiring     pune
36   4  IndianPolity     Marvolous    Delhi
37   5      Spectrum   understable  Solapur
38   6   Environment          Easy   Mumbai
39  11      bookname          good     pune
40  12          book          good     pune
41  13         bookN          good     pune
42  22          book          good    latur